.infoArea
  .infoArea__infoHead
    =render 'contact_books/headButtonLinks'

  .infoArea__infoMenu
    %ul.breadCrumbsLink
      %li
        = link_to 'HOME', root_path, class: "roomSelectBtn"
      %li
        %i.fa.fa-chevron-right
      %li
        %p.letterSelect 欠席連絡

  -# trueがteacher side、falseがparent side
  -if current_user && current_user.admin?
    .infoArea__AbsentContact
      .infoArea__AbsentContact__contactsHistory
        -# 本日の連絡、今日以降の欠席連絡、送信履歴（先生側）
        =render 'absent_contacts/AbsentContactHistoryTeachers'
  - else
    .infoArea__AbsentContact
      .infoArea__AbsentContact__contactsHistory
        .infoArea__AbsentContact__contactsHistory__title
          欠席連絡フォーム
        .infoArea__AbsentContact__contactsHistory__FormBox
          = form_with model: [@room, @absent_contact], class: "IputForm", id: "ParentSubmit", local: true do |f|
            =render partial: "absent_contact_form", locals: { f: f}
        -# 本日の連絡、今日以降の欠席連絡、送信履歴（親側）
        =render 'absent_contacts/AbsentContactHistoryParents'

