.AbsentContactBoxTable
  .contactDateHead
    事実発生日
  .contactNameHead
    名前
  .contactKindHead
    種類
  .contactReasonHead
    理由
  .contactAfterContactHead
    放課後連絡
  .contact_T_ConfirmHead
    先生確認
  - if current_user && !current_user.admin?
    .contact_edit_delete_btnHead
      編集・削除
