.infoArea__infoHead__userschool
  %h6 学校名
  .infoArea__infoHead__userschool__schoolName
    = current_user.school.school_name
.infoArea__infoHead__userRoom
  - if current_user.admin?
    %h6 選択中のクラス
    .infoArea__infoHead__userRoom__roomName
      = @room.number
  - else
    %h6 あなたのクラス
    .infoArea__infoHead__userRoom__roomName
      = current_user.room.number