.sideBar
  .sideBar__userBox
    %h6 ログイン中のユーザー
    .sideBar__userBox__userName 
      = current_user.parent_name
  .sideBar__logOutBox
    = link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logOutBtn"
  %ul.sideBar__roomIndex
    - @rooms.each do |r|
      %li
        = link_to room_contact_books_path(r), class: "roomNumberLink" do
          = r.number 
      