.infoArea
  .infoArea__infoHead
    =render 'contact_books/headButtonLinks'

  .infoArea__infoMenu
    %ul.breadCrumbsLink
      %li
        = link_to 'クラス選択', root_path, class: "roomSelectBtn"
      %li
        %i.fa.fa-chevron-right
      %li
        = link_to '連絡帳', room_contact_books_path, class: "contactBookSelectBtn"
      %li
        %i.fa.fa-chevron-right
      %li
        %p.letterSelect 配布手紙
    - if current_user && current_user.admin?
      = link_to 'アップロード', new_room_letter_path(@room), class: "uploadBtn"
    
  .infoArea__infoContent
    .infoArea__infoContent__HeadTitle
      %p.headTitle 配布手紙
    .infoArea__infoContent__lettersBox
      =render @letters