@mixin AbsentContactBox_and_Table {
  .AbsentContactBoxTable {
    display: flex;
    .contactHead {
      margin: 20px 5px 10px 5px;
      border-bottom: 1px solid lightgray;
      text-align: center;
      background:linear-gradient(0deg, #eeeeee 10%, #eeeeee 10%, #eeeeee 10%, white 10%);
    }
    .contactDateHead {
      @extend  .contactHead;
      width: 150px;
    }
    .contactNameHead {
      @extend  .contactDateHead;
    }
    .contactKindHead {
      @extend  .contactHead;
      width: 90px;
    }
    .contactReasonHead {
      @extend  .contactHead;
      width: 400px;
    }
    .contactAfterContactHead {
      @extend  .contactKindHead;
    }
    .contactConfirmHead {
      @extend  .contactKindHead;
    }
    .contact_T_ConfirmHead {
      @extend .contactKindHead;
    }
    .contact_edit_delete_btnHead {
      @extend .contactKindHead;
    }
  }
  .AbsentContactBox {
    display: flex;
    .contact {
      margin: 10px 5px;
    }
    .contactDate {
      @extend  .contact;
      width: 150px;
      padding-left: 10px;
    }
    .contactName {
      @extend  .contactDate;
    }
    .contactKind {
      @extend  .contact;
      width: 90px;
      text-align: center;
    }
    .contactReason {
      @extend  .contact;
      width: 400px;
    }
    .contactAfterContact {
      @extend  .contactKind;
    }
    .contactConfirm {
      @extend  .contactKind;
    }
    .contact_T_Confirm {
      @extend .contactKind;
      .teacher-not-confirm-btn {
        color: red;
        cursor: pointer;
        display: inline-block;
      }
      .teacher-not-confirm-btn:hover {
        color: black;
      }
    }
    .contact_edit_delete_btn {
      @extend .contactKind;
      text-align: center;
      .EditBtn,
      .DeleteBtn {
      color: black;
      text-decoration: none;
      padding: 0 7px;
      }
      .EditBtn:hover,
      .DeleteBtn:hover {
      color: gray;
      }
    }
  }
}


@mixin headline {
  width: 1270px;
  font-size: 20px;
  padding: 2px;
  border-bottom: 2px solid black;
}




.infoArea {
  &__AbsentContact {
    overflow: hidden;
    overflow: scroll;
    &__contactsHistory {
      padding: 40px 40px;
      &__title {
        @include headline;
      }
      &__FormBox {
        width: 1070px;
        padding: 10px 20px 0 20px;
        margin: 20px 0 80px 0;
        .InputBox {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          background-color: #eeeeee;
          padding: 2px 10px;
          border: 2px solid lightgray;
          .absentAt,
          .inputAbsentAt{
            width: 150px;
          }
          .absentKind {
            width: 90px;
          }
          .absentReason {
            width: 500px;
          }
          .afterContact {
            width: 156px;
          }
          .absentAt,
          .absentKind,
          .absentReason,
          .afterContact {
            font-size: 12px;
            padding-right: 15px;
            .inputAbsentAT,
            .inputKind,
            .inputReason,
            .inputAfterContact {
              height: 50px;
              width: 100%;
            }
          }
          .SubmitBtn {
            width: 100px;
            text-align: center;
            .submit-btn {
              margin-top: 12px;
            }
          }
        }
      }
      &__todayAbsentContactTitle {
        @include headline;
      }
      &__TodayAbsentContact {
        margin-bottom: 80px;
        @include AbsentContactBox_and_Table;
      }
      &__title {
          @include headline;
      }
      &__index {
        margin-bottom: 80px;
        @include AbsentContactBox_and_Table;
      }
    }
  }
}