// sub reset scss
* {
  box-sizing: border-box;
}

html {
  height:100%;
  width: 100%;
}

body {
  height: 100%;
  min-width: 1400px;
}



// refactoring scss
@mixin headline_greenColor {
  background: #C3EC52;
  background: -webkit-gradient(linear, left top, left bottom, from(#C3EC52), to(#0BA29D));
  background: -webkit-linear-gradient(top, #C3EC52 0%, #0BA29D 100%);
  background: linear-gradient(to bottom, #C3EC52 0%, #0BA29D 100%);
  -webkit-box-shadow: inset 1px 1px 1px #fff;
  box-shadow: inset 1px 1px 1px #fff;
}

@mixin headBtn_greenColor {
  border: 1px solid #ccc;
  background: #C3EC52;
  background: -webkit-gradient(linear, left top, left bottom, from(#C3EC52), to(#0BA29D));
  background: -webkit-linear-gradient(top, #C3EC52 0%, #0BA29D 100%);
  background: linear-gradient(to bottom, #C3EC52 0%, #0BA29D 100%);
  -webkit-box-shadow: inset 1px 1px 1px #fff;
  box-shadow: inset 1px 1px 1px #fff;
}

@mixin headBtn_greenColor_hover {
  background: -webkit-gradient(linear, left bottom, left top, from(#C3EC52), to(#0BA29D));
  background: -webkit-linear-gradient(bottom, #C3EC52 0%, #0BA29D 100%);
  background: linear-gradient(to top, #C3EC52 0%, #0BA29D 100%);
}



// application'scss
header {
  height:80px;
  color: #ffffff;
  font-weight: bold;
  background-color: green;
  font-size: 40px;
  text-align: center;
  line-height: 77px;
  border-bottom: 3px solid forestgreen;
}

footer {
  height: 35px;
  color: #999999;
  background-color: ghostwhite;
  font-size: 12px;
  text-align: end;
  line-height: 35px;
  padding-right: 15px;
  border-top: 1px solid darkgray;
}



// index view's scss
.wrapper {
  height: calc( 100% - 115px );
  background-color: ivory;
  display: flex;
  .sideBar {
    width: 150px;
    border-right: 1px solid forestgreen;
    &__userBox {
      height:80px;
      color: black;
      padding: 2px 0  0 2px;
      @include headline_greenColor();
      h6 {
        font-size: 6px;
      }
      &__userName {
        height: 64px;
        line-height: 64px;
        font-size: 20px;
        font-weight: bolder;
        text-align: center;
        border-bottom: 2px solid orange;
      }
    }
    &__logOutBox {
      height: 50px;
      background-color: ivory;
      border-bottom: 1px solid forestgreen;
      display: flex;
      justify-content: center;
      align-items: center;
      .logOutBtn {
        border: 1px solid royalblue;
        color: royalblue;
        font-size: 12px;
        font-weight: bolder;
        text-align: center;
        text-decoration: none;
        background-color: #ffffff;
        // padding: 5px 3px;
        padding: 0.3rem 0.4rem;
        cursor: pointer;
        letter-spacing: 0.2em;
        border-radius: 0.5rem;
      }
    }
    &__roomIndex {
      height:calc( 100% - 130px);
      background-color: ivory;
      color: black;
      font-weight: bolder;
      padding: 10px 0;
      overflow: hidden;
      overflow-y: scroll;
      .RoomIndex {
        padding: 10px 0;
        ul {
          display: flex;
          justify-content: center;
          margin: 15px 0;
          li {
            display: inline-block;
            height: 50px;
            text-align: center;
            line-height: 50px;
            .roomNumberLink {
              color: black;
              text-decoration: none;
              font-size: 23px;
            }
            .roomNumberLink:hover {
              text-decoration: underline;
            }
          }
          .noticeImage {
            position: relative;
            .far.fa-paper-plane {
              font-size: 20px;
            }
            .yet_notice_count {
              color: #fff;
              font-size: 3px;
              background-color:#f00;
              padding: 0;
              margin: 0;
              width: 18px;
              height: 18px;
              line-height: 18px;
              text-align: center;
              border-radius: 50%;
              position: absolute;
              left: 16px;
              top: -10px;
            }
          }
        }
      }
      
    }
  }

  .infoArea {
    display: inline-block;
    width: calc( 100% - 150px );
    background-color: ivory;
    overflow: hidden;
    overflow: scroll;
    &__infoHead {
      height:80px;
      border-bottom: 2px groove orange;
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      @include headline_greenColor();
      &__userschool {
        height: 80px;
        width: 15%;
        padding: 4px 0 0 4px;
        border-right: 1px solid forestgreen;
        h6 {
          font-size: 6px;
        }
        &__schoolName {
          line-height: 80px;
          font-weight: bolder;
          line-height: 60px;
          text-align: center;
          color: black;
        }
      }
      &__userRoom {
        height: 80px;
        width: 15%;
        padding: 4px 0 0 4px;
        border-right: 1px solid forestgreen;
        h6 {
          font-size: 6px;
        }
        &__roomName {
          line-height: 80px;
          font-weight: bolder;
          line-height: 60px;
          text-align: center;
          color: black;
        }
      }
      &__headBox {
        width: 85%;
        .headBtns {
          display: flex;
          justify-content: space-around;
          .headBtn {
            width: 200px;
            background-color: pink;
            display: flex;
            align-items: flex-end;
            .HeadBtn {
              color: black;
              width: 100%;
              text-decoration: none;
              font-size: 30px;
              text-align: center;
              @include headBtn_greenColor()
            }
            .HeadBtn:hover {
              @include headBtn_greenColor_hover()
            }
          } 
        }
      }
    }


    &__infoMenu {
      height:50px;
      color: black;
      background-color: ivory;
      border-bottom: 1px solid forestgreen;
      display: flex;
      align-items: center;
      .backBtn {
        text-decoration: none;
        color: purple;
        margin-left: 30px;
      }
    }


    &__infoContent {
      height:calc(100% - 130px);
      background-color: ivory;
      overflow: hidden;
      overflow-y: scroll;
      padding: 50px 0 0 50px;
      &__todayContactBook {
        &__todayContactBookTitle {
          font-size: 20px;
          padding: 2px;
          border-bottom: 2px solid black;
          margin-bottom: 20px;
        }
        &__TodayContactBook {
          display: flex;
          justify-content: center;
          .fa.fa-hammer {
            font-size: 40px;
            padding: 55px 0;
            margin: 0 20px;
          }
          .makingMessage {
            display: inline;
            font-size: 40px;
            padding: 50px 0;
            margin-bottom: 20px;
          }
          .todayCb {
            padding: 50px 0;
            margin-bottom: 20px;
            .todayCbLink {
              color: black;
              font-size: 40px;
              text-decoration: none;
            }
            .todayCbLink:hover {
              border-bottom: 1px solid black;
            }
            .contact_edit_delete_btn {
              display: inline;
              line-height: 26px;
              margin-left: 10px;
              .EditBtn,
              .DeleteBtn {
              color: black;
              text-decoration: none;
              padding: 0 2px;
              }
              .EditBtn:hover,
              .DeleteBtn:hover {
              color: gray;
              }
            }
          }
        }
      }
      &__historyContactBookTitle {
        font-size: 20px;
        padding: 2px;
        border-bottom: 2px solid black;
        margin-bottom: 20px;
      }
      &__historyContactBookBox {
        &__title {
          font-size: 16px;
          text-align: left;
          padding: 20px 0 0 40px;
          text-decoration: underline;
        }
        &__Index {
          padding: 10px 0 50px 60px;
          .cbs {
            display: flex;
            flex-wrap: wrap;
              .cb {
                height: 16px;
                margin: 5px 0;
                padding-right: 20px;
                .cbLink {
                color: black;
                font-size: 18px;
                text-decoration: none;
                }
                .cbLink:hover {
                  border-bottom: 2px solid black;
                }
                .contact_edit_delete_btn {
                  display: inline-block;
                  line-height: 26px;
                  margin-right:20px;
                  .EditBtn,
                  .DeleteBtn {
                  color: black;
                  text-decoration: none;
                  padding: 0 2px;
                  }
                  .EditBtn:hover,
                  .DeleteBtn:hover {
                  color: gray;
                  }
                }
              }
          }
        }
      }
    }
  }
}



// new view's scss
.Wall {
  padding-top: 30px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
  overflow-y: scroll;
  .CotactBookField {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;

    .head {
      font-size: 30px;
    }
    .FormField {
      width: 650px;
      padding: 10px 50px 30px 50px;
      border: 1px solid black;
      &__labelDate,
      &__labelLetter,
      &__labelSchedule,
      &__labelHomework,
      &__labelbring,
      &__labelInform {
        font-size: 20px;
      }
      &__inputDate,
      &__inputLetter,
      &__inputSchedule,
      &__inputHomework,
      &__inputbring,
      &__inputInform {
        font-size: 25px;
        margin: 10px 0 0 40px;
        .scheduleInput {
          width: 400px;
        }
        .homeworkInput {
          height: 50px;
          width: 400px;
        }
        .inputBring {
          height: 150px;
          width: 400px;
        }
        .informInput {
          height: 300px;
          width: 400px;
        }
      }
      &__submit {
        font-size: 40px;
        margin: 30px 0 0 80px;
      }
    }
  }
}





// show view's scss
.infoArea__infoContent__itemsBox {
  &__date {
    height: 14%;
    font-size: 40px;
    padding: 20px;
    margin-bottom: 10px;
  }
  &__letter,
  &__schedule,
  &__homework,
  &__bring,
  &__inform {
    height: 14%;
    font-size: 35px;
    padding: 0 0 10px 50px;
  }
}