.infoArea__infoContent__itemsBox {
  &__date {
    height: 14%;
    font-size: 40px;
    padding: 20px;
    margin-bottom: 10px;
  }
  &__letter,
  &__schedule,
  &__homework,
  &__bring,
  &__inform {
    height: 14%;
    font-size: 35px;
    padding: 0 0 10px 50px;
  }
}



