@media screen and (max-width:480px){

  label {
    font-size: 16px;
  }

  h2 {
    font-size: 30px;
    margin-bottom: 30px;
  }

  #user_school_id {
    height: 50px;
    width: 300px;
    border: 2px solid #aaaaaa;
    border-radius: 3px;
    background-color: #fff;
    padding-left: 5px;
  }

  #user_room_id, 
  #user_parent_name,
  #user_child_name,
  #user_email,
  #user_password,
  #user_password_confirmation,
  #school_email,
  #school_password,
  #school_school_name,
  #school_school_admin,
  #school_password_confirmation {
    height: 50px;
    width: 300px;
    border: 2px solid #aaaaaa;
    border-radius: 3px;
    background-color: #fff;
    padding-left: 5px;
  }

  .submitBtn {
    height: 40px;
    width: 300px;
    color: #fff;
    border: 2px solid #cccccc;
    border-radius: 3px;
    background-color: #aaaaaa;
    padding-left: 5px;
  }
  .submitBtn:hover {
    color: black;
    background-color: darkgray;
    opacity: 0.4;
  }
  .submitBtn:active {
    position: relative;
    top: 2px;
  }

  .sp-check {
    display: none;
    width: 400px;
  }

  .UserWrapper {
    height: calc( 100vh - 115px );
    overflow: hidden;
    overflow-y: scroll;
    background-color: lightgray;
  }
  .wall {
    padding: 30px 0;
    background-color: lightgray;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    .FormBox {
      width: 390px;
      padding: 30px 80px 10px 80px;
      background-color: #dddddd;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      p {
        font-size: 25px;
      }
      .field {
        margin: 20px 0;
      }
      .actions {
        text-align: center;
        margin: 50px 0;
      }
    }
  }

  .deviseLink {
    text-decoration: none;
  }

  .deviseLink:hover {
    text-decoration: underline;
  }

}

@media screen and (min-width:481px){

  label {
    font-size: 16px;
  }

  h2 {
    font-size: 30px;
    margin-bottom: 30px;
  }

  #user_school_id {
    height: 50px;
    width: 300px;
    border: 2px solid #aaaaaa;
    border-radius: 3px;
    background-color: #fff;
    padding-left: 5px;
  }

  #user_room_id, 
  #user_parent_name,
  #user_child_name,
  #user_email,
  #user_password,
  #user_password_confirmation,
  #school_email,
  #school_password,
  #school_school_name,
  #school_school_admin,
  #school_password_confirmation {
    height: 50px;
    width: 300px;
    border: 2px solid #aaaaaa;
    border-radius: 3px;
    background-color: #fff;
    padding-left: 5px;
  }

  .submitBtn {
    height: 40px;
    width: 300px;
    color: #fff;
    border: 2px solid #cccccc;
    border-radius: 3px;
    background-color: #aaaaaa;
    padding-left: 5px;
  }
  .submitBtn:hover {
    color: black;
    background-color: darkgray;
    opacity: 0.4;
  }
  .submitBtn:active {
    position: relative;
    top: 2px;
  }

  .UserWrapper {
    height: calc( 100vh - 115px );
    overflow: hidden;
    overflow-y: scroll;
    background-color: lightgray;
  }
  .wall {
    padding: 30px 0;
    background-color: lightgray;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    .FormBox {
      width: 700px;
      padding: 30px 80px 10px 80px;
      background-color: #dddddd;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      p {
        font-size: 25px;
      }
      .field {
        margin: 20px 0;
      }
      .actions {
        text-align: center;
        margin: 50px 0;
      }
    }
  }

  .deviseLink {
    text-decoration: none;
  }

  .deviseLink:hover {
    text-decoration: underline;
  }

}