.wall {
  padding-top: 30px;
  background-color: ivory;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  .FormBox {
    width: 700px;
    padding: 30px 80px 10px 80px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 4px solid lightgreen;
    .field {
      margin: 20px 0;
      #user_school_id {
        height: 30px;
        width: 190px;
        font-size: 14px;
      }
    }
    .actions {
      margin-bottom: 30px;
    }
  }
}

.deviseLink {
  text-decoration: none;
}

.deviseLink:hover {
  text-decoration: underline;
}