.infoArea__infoMenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  .breadCrumbsLink {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .roomSelectBtn,
    .contactBookSelectBtn {
      text-decoration: none;
    }
    .roomSelectBtn:hover,
    .contactBookSelectBtn:hover {
      text-decoration: underline;
    }
    .fa.fa-chevron-right {
      margin: 0 5px;
    }
  }
  .uploadBtn {
    text-decoration: none;
    background-color: gold;
    border: 2px solid lightgray;
    padding: 3px;
  }
  .uploadBtn:hover {
    text-decoration: none;
    background-color: lightsalmon;
    border: 2px solid lightgray;
    padding: 3px;
  }
}

.infoArea__infoContent {
  padding: 10px 100px;
  &__HeadTitle {
    border-bottom: 1px solid black;
    margin-bottom: 30px;
    .headTitle {
      text-align: center;
      font-size: 30px;
    }
  }
  &__lettersBox {
    display: flex;
    align-items: center;
    flex-direction: column;
    .Letter {
      margin: 20px;
      .letterFile {
        font-size: 25px;
        color: black;
        text-decoration: none;
        margin-right: 20px;
      }
      .letterFile:hover {
        text-decoration: underline;
      }
    }
  }
}

// new view's scss
.Wall {
  padding-top: 30px;
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  .letterField {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 10px 0 0 50px ;
    .head {
      font-size: 30px;
    }
    .FormField {
      width: 650px;
      padding: 10px 50px;
      border: 1px solid black;
      &__labelReleased_at,
      &__labelName,
      &__labelPdf {
        font-size: 30px;
      }
      &__inputReleased_at,
      &__inputName,
      &__inputPdf {
        height: 50px;
        font-size: 30px;
        margin: 10px 0 0 40px;
      }
      &__submit {
        font-size: 40px;
        margin: 60px 0 0 80px;
      }
      .submit-btn {
  
      }
    }
  }
}

