// 共通
.backLink {
  display: block;
  font-weight: bold;
  text-align: center;
  color: #333;
}

.label {
  display: block;
  width: 68px;
  line-height: 30px;
  text-align: center;
  margin-right: 10px;
}

a {
  text-decoration: none;
  color: #333;
}

.fields {
  width: 200px;
  border: 1px solid lightgray;
  border-radius: 4px;
  padding: 10px;
  margin: 0 10px 10px 0;
  .field {
    display: flex;
    margin-bottom: 5px;
  }
}
.actions {
  margin: 20px auto;
  .roomSubmitBtn {
    height: 50px;
    width: 250px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: #fff;
  }
  .roomSubmitBtn:hover {
    background-color: #cccccc;
    border: 1px solid #333;
  }
  .roomSubmitBtn:active {
    position: relative;
    top: 3px;
  }
}

// control.html.haml
.roomsRegistration {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .roomRegistration {
    .roomSelectLink {
      display: block;
      height: 50px;
      width: 250px;
      color: #333;
      text-decoration: none;
      text-align: center;
      line-height: 50px;
      border: 1px solid gray;
      border-radius: 5px;
      background-color: #fff;
      margin-bottom: 5px;
    }
    .roomSelectLink:hover {
      background-color: #cccccc;
      border: 1px solid #333;
    }
    .roomSelectLink:active {
      position: relative;
      top: 3px;
    }
  }
}

// confirm.html.haml
.RoomEditSelect {
  display: flex;
  width: 1400px;
  .roomsConfirm {
    .room {
      width: 150px;
      border: 1px solid lightgray;
      border-radius: 4px;
      padding: 10px;
      margin: 0 10px 10px 0;
      &__name {
  
      }
    }
  }
}


// new.html.haml
#rooms__number,
#rooms__grade,
#rooms__school_id,
#room_grade,
#room_number {
  height: 30px;
  width: 100px;
}

.MainNav {
  &__Wrapper {
    background-color: #ffffff;
    padding: 10px;
    &__head {
      font-size: 30px;
      margin-bottom: 30px;
    }
    .guideline-explanation {
      font-size: 18px;
      margin-bottom: 30px;
    }
    &__form {
      #new_room_collection {
        display: flex;
        flex-wrap: wrap;
      }
    }
  }
}

// room_show.html.haml
.RoomMemberIndex {
  // overflow: scroll;
  display: flex;
  .Room {
    width: 150px;
    margin-right: 40px;
    .RoomName {
      font-size: 20px;
      font-weight: bold;
    }
    .RoomUser {
      width: 150px;
      display: flex;
      &__name {
        width: 95px;
      }
      &__delete {
        .DeleteUserLink {
          display: block;
          width: 50px;
        }
      }


    }
  }
}





