= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  = f.hidden_field :email, value: "parent1@gmail.com"
  = f.hidden_field :password, value: "parent1"
  = f.submit "ゲスト保護者としてログイン", class: "submitBtn"