.infoArea
  .infoArea__infoHead
    =render 'contact_books/headButtonLinks'

  .infoArea__infoMenu
    %ul.breadCrumbsLink
      %li
        = link_to 'クラス選択', root_path, class: "roomSelectBtn"
      %li
        %i.fa.fa-chevron-right
      %li
        %p 機能選択
