.infoArea
  .infoArea__infoHead
    .infoArea__infoHead__userschool
      %h6 学校名
      .infoArea__infoHead__userschool__schoolName
        = current_user.school.school_name
    .infoArea__infoHead__userRoom
      %h6 選択中のクラス
      .infoArea__infoHead__userRoom__roomName
        未選択
    .infoArea__infoHead__headBox
  .infoArea__infoMenu
    %ul.breadCrumbsLink
      %li
        サイドバーからクラスを選んでください