.SchoolWrapper
  = render partial: "/rooms/top_nav"
  .MainNav
    .MainNav__Wrapper
      .MainNav__Wrapper__head
        クラス登録６年
      = render partial: "/rooms/roomRegistrationExplanation"
      .MainNav__Wrapper__form
        = render partial: "/rooms/room_collection_form"
        = link_to '戻る', control_rooms_path, class: "backLink"