.SPWrap__Wrapper__header__Belongs
  .SPWrap__Wrapper__header__Belongs__User
    .SPWrap__Wrapper__header__Belongs__User__head
      学校名
    .SPWrap__Wrapper__header__Belongs__User__word
      = current_user.school.school_name
  .SPWrap__Wrapper__header__Belongs__User
    .SPWrap__Wrapper__header__Belongs__User__head
      あなたのクラス
    .SPWrap__Wrapper__header__Belongs__User__word
      = current_user.room.number